a {
    color: #5c2969;
}

a:visited {
    color: #3d1b46;
}

h2 {
    margin: 10px 0 30px 0;
    text-transform: uppercase;
    color: #5c2969;
}

h3 {
    margin: 5px 0 20px 0;
}

h4 {
    margin: 3px 0 10px 0;
}

.main-logo {
    padding: 0 40px;
}

.finder {
    margin: 50px;
}

.finder input {
    background: url(../images/magnifying-glass.png);
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px 40px 10px 10px;
    border: 1px solid #95928b;
    border-radius: 8px;
    margin-left: auto;
}

.finder input:focus {
    border: 1px solid #5c2969;
    border-radius: 8px;
    color: -internal-light-dark(#5c2969, white);
}

/* .finder input::after {
    display: inline-block;
    font-family:'FontAwesome';
    content: "\f002";
} */

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(91, 47, 130, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(91, 47, 130, 0.6);
  outline: 0 none;
}

[aria-label=Breadcrumbs] {
    text-transform: uppercase;
}

footer {
    background-color: #5c2969;
    color: #fff;
    padding: 20px;
}

.breadcrumb {
    color: #95928b;
    margin-bottom: 0;
    align-items: center;
    font-weight: 500;
}

.breadcrumb a {
    text-decoration: none;
    color: #95928b;
}

.breadcrumb .divider {
    font-size: 1.4em;
    margin-right: 5px;
}

.breadcrumb li > * {
    vertical-align: middle;
}

.breadcrumb .active {
    color: #5c2969;
}

#subscribe_email {
    display: flex;
    align-items: baseline;
    position: relative;
}

#subscribe_email > * {
    margin-right: 5px;
    flex-grow: 1;
}

#subscribe_email > *:nth-last-child(3) {
    margin-right: 0;
}

#subscribe_email label {
    text-transform: uppercase;
    font-weight: 500;
    text-align: right; 
}

#subscribe_email input {
    width: 220px;
    padding: 5px;
    padding-right: 110px;
}

#subscribe_email .invalid-email {
    box-shadow: 0 1px 1px rgb(0, 0, 0) inset, 0 0 8px rgb(223, 42, 42);
}

#subscribe_email .control-group {
    position: absolute;
    right: 2px;
    top: 2px;
    margin: 0;
}

#subscribe_email .login-button {
    background-color: #5c2969;
    border: none;
    width: 100px;
    margin: 5px;
    padding: 0;
}

#results {
    position: relative;
    text-align: center;
    height: 100%;
}

#results .error {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}